@model IEnumerable<Announcements>
@{
    ViewData["Title"] = "List Of Announcement";
    Layout = "_AdminLayout";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Index">Dashboard</a></li>
        <li class="breadcrumb-item active">All Announcements</li>
    </ol>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">All Announcements</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                @if (Model.Any())
                {
                    <table class="table table-bordered table-hover align-middle" style="width: 100%" id="dataTable">
                        <thead>
                            <tr>
                                <th style="display: none;">
                                    ID
                                </th>
                                <th>
                                    Announcement
                                </th>
                                <th>
                                    Recipient
                                </th>
                                <th>
                                    End Date
                                </th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="display:none;" width="15%">@item.Id</td>
                                    <td width="15%">@item.Announcement</td>
                                    <td width="15%">@item.For</td>
                                    <td width="15%">@item.End</td>
                                    <td width="1%">
                                        <div>
                                            <a asp-controller="Admin" asp-action="EditAnnouncement" asp-route-Id="@item.Id"><i class="far fa-edit"></i></a>
                                        </div>
                                    </td>
                                    <td width="1%">
                                        <div>
                                            <a asp-controller="Admin" asp-action="DeleteAnnouncement" asp-route-Id="@item.Id"><i class="far fa-trash-alt" style="color: red"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No announcement added.</p>
                }
            </div>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</div>

