@using HMS.Models.ViewModels
@model Consultations

@{
    ViewData["Title"] = "Consult";
    Layout = "_AdminLayout";

    List<VitalsVm> vitals = (List<VitalsVm>)ViewData["vitals"];
    List<PrescriptionVm> prescription = (List<PrescriptionVm>)ViewData["prescription"];
    List<LabResultVm> labResult = (List<LabResultVm>)ViewData["labResults"];
    List<ConsultationsVm> consult = (List<ConsultationsVm>)ViewData["consultations"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdn.tiny.cloud/1/j3gns5rncj0jus0s1zwc9yqx8mx1fjkfwd4urg3s5foh3gze/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
        tinymce.init({
            selector: '#symptomstextarea'
        });
        tinymce.init({
            selector: '#diagnosistextarea'
        });
    </script>

    <style>
        textarea {
            width: 300px;
            height: 350px;
        }
    </style>
</head>

<body>
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a asp-controller="Doctor" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item active">Consult</li>
        </ol>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Symptoms & Diagnosis</h6>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <form method="post" asp-action="Consult" id="consultation">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" value="@TempData["id"]" asp-for="PatientId" id="patientId" />

                        <div class="row">
                            <div class="col-md-6">
                                <h6 class="m-0 font-weight-bold text-primary">Symptoms</h6>
                                <textarea asp-for="Symptoms" id="symptomstextarea"></textarea>
                                <span asp-validation-for="Symptoms" class="text-danger"></span>
                            </div>

                            <div class="col-md-6">
                                <h6 class="m-0 font-weight-bold text-primary">Diagnosis</h6>
                                <textarea asp-for="Diagnosis" id="diagnosistextarea"></textarea>
                                <span asp-validation-for="Diagnosis" class="text-danger"></span>
                            </div>

                            <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-top: 20px">
                                <button asp-action="Consult" asp-controller="Doctor" type="submit" class="select btn btn-primary mx-1">Save</button>
                            </div>
                        </div>
                    </form>

                    <div class="row" style="margin-top: 20px">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button onclick="confirmForward()" class="select btn btn-primary mx-1">Forward Patient to Lab</button>
                            <a asp-controller="Doctor" asp-action="CompleteConsult" class="select btn btn-success mx-1">Complete Consultation</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Patient Vitals</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="table-responsive">
                        @if (vitals != null)
                        {
                            <table class="table table-bordered table-hover align-middle" style="width: 100%" id="dataTable">
                                <thead>
                                    <tr>
                                        <th>
                                            Blood Pressure
                                        </th>
                                        <th>
                                            Temperature
                                        </th>
                                        <th>
                                            Weight
                                        </th>
                                        <th>
                                            Date
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in vitals)
                                    {
                                        <tr>
                                            <td width="15%">@item.Bp</td>
                                            <td width="15%">@item.Temperature</td>
                                            <td width="15%">@item.Weight</td>
                                            <td width="15%">@item.Date</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p>No information available.</p>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Patient Consultations</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="table-responsive">
                        @if (vitals != null)
                        {
                            <table class="table table-bordered table-hover align-middle" style="width: 100%" id="dataTable4">
                                <thead>
                                    <tr>
                                        <th>
                                            Symptoms
                                        </th>
                                        <th>
                                            Diagnosis
                                        </th>
                                        <th>
                                            Date
                                        </th>
                                       @* <th>
                                            View
                                        </th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in consult)
                                    {
                                        <tr>
                                            <td width="15%">@item.Symptoms</td>
                                            <td width="15%">@item.Diagnosis</td>
                                            <td width="15%">@item.Date</td>
                                           @* <td width="5%">
                                                <div class="w-100 btn-group" role="group">
                                                    <button class="btn btn-primary mx-1">Select</button>
                                                </div>
                                            </td>*@
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p>No information available.</p>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Patient Prescriptions</h6>
            </div>
            <div class="row" style="margin-top: 5px">
                <div class="position-absolute start-50">
                    <button onclick="getPrescriptionModal()" class="select btn btn-primary mx-1">Add Prescription</button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="table-responsive">
                        @if (prescription != null)
                        {
                            <table class="table table-bordered table-hover align-middle" style="width: 100%" id="dataTable2">
                                <thead>
                                    <tr>
                                        <th>
                                            Doctor's Name
                                        </th>
                                        <th>
                                            Prescription
                                        </th>
                                        <th>
                                            Date
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in prescription)
                                    {
                                        <tr>
                                            <td width="15%">@item.DoctorId</td>
                                            <td width="15%">@item.Prescription</td>
                                            <td width="15%">@item.Date</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p>No information available.</p>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Lab Results</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="table-responsive">
                        @if (labResult != null)
                        {
                            <table class="table table-bordered table-hover align-middle" style="width: 100%" id="dataTable3">
                                <thead>
                                    <tr>
                                        <th>
                                            Detection Result
                                        </th>
                                        <th>
                                            Normal Accuracy
                                        </th>
                                        <th>
                                            Pneumonia Accuracy
                                        </th>
                                        <th>
                                            Date
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in labResult)
                                    {
                                        <tr>
                                            <td width="15%">@item.PredictedLabel</td>
                                            <td width="15%">@item.NormalAccuracy</td>
                                            <td width="15%">@item.PneumoniaAccuracy</td>
                                            <td width="15%">@item.Date</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p>No information available.</p>
                        }
                    </div>
                </div>
            </div>
        </div>

        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </div>
</body>
</html>

@section Scripts
{
<partial name="_ValidationScriptsPartial" />
}

<partial name="_ConfirmForwardToLab" />
<partial name="_PrescriptionModal" />