@model IEnumerable<LabResult>
@{
    ViewData["Title"] = "Lab History";
    Layout = "_AdminLayout";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-controller="Lab" asp-action="Index">Dashboard</a></li>
        <li class="breadcrumb-item active">Lab History</li>
    </ol>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lab History</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                @if (Model.Any())
                {
                    <table class="table table-bordered table-hover align-middle" style="width: 100%" id="dataTable">
                        <thead>
                            <tr>
                                <th>
                                    Patient ID
                                </th>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Predicted Label
                                </th>
                                <th>
                                    Normal Accuracy
                                </th>
                                <th>
                                    Pneumonia Accuracy
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td width="15%">@item.PatientId</td>
                                    <td width="15%">@item.Date</td>
                                    <td width="15%">@item.PredictedLabel</td>
                                    <td width="15%">@item.NormalAccuracy</td>
                                    <td width="15%">@item.PneumoniaAccuracy</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No patients vitals available.</p>
                }
            </div>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</div>

