@model IEnumerable<Medicine>
@{
    ViewData["Title"] = "Medicines";
    Layout = "_AdminLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Medicines</title>
</head>
<body>
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a asp-controller="Pharmacy" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item active">Medicines</li>
        </ol>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">All Medicines</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    @if (Model.Any())
                    {
                        <table class="table table-bordered table-hover align-middle" style="width: 100%" id="dataTable">
                            <thead>
                                <tr>
                                    <th>
                                        Medicine Name
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Cost
                                    </th>
                                    <th>
                                        Quantity
                                    </th>
                                    <th>
                                        NHIS
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td width="20%">@item.Name</td>
                                        <td width="20%">@item.Description</td>
                                        <td width="20%">@item.Cost</td>
                                        <td width="20%">@item.Quantity</td>
                                        <td width="20%">@item.NHIS</td>
                                        <td width="15%">
                                            <div>
                                                <a asp-controller="Pharmacy" asp-action="EditMedicine" asp-route-Id="@item.Id"><i class="far fa-edit"></i></a>
                                            </div>
                                        </td>
                                        <td width="15%">
                                            <div>
                                                <a asp-controller="Pharmacy" asp-action="Delete" asp-route-Id="@item.Id"><i class="far fa-trash-alt" style="color: red"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>No medicines added.</p>
                    }
                </div>
            </div>
        </div>

        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </div>
</body>
</html>

