@model List<HMS.Models.ViewModels.TransactionsListVm>
@{
    ViewData["Title"] = "TransactionHistory";
    Layout = "_AdminLayout";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-controller="Cashier" asp-action="Index">Dashboard</a></li>
        <li class="breadcrumb-item active">Transaction History</li>
    </ol>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Transaction History</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                @if (Model.Any())
                {
                    <table class="table table-bordered table-hover align-middle" style="width: 100%" id="dataTable">
                        <thead>
                            <tr>
                                <th>
                                    Patient Id
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Total
                                </th>
                                <th>
                                    Payment Method
                                </th>
                                <th>
                                    Date
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td width="20%">@item.PatientId</td>
                                    <td width="20%">@item.Name</td>
                                    <td width="20%">@item.Total</td>
                                    <td width="20%">@item.Method</td>
                                    <td width="20%">@item.Date</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No history available.</p>
                }
            </div>
        </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</div>

